<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="bizzmandi.com.bizzm" >

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".applevel.BizzMandiApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".activities.SplashActivity"
            android:noHistory="true"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.DeviceRegisterActivity"
            android:animateLayoutChanges="true"
            android:label="@string/title_activity_device_register"
            android:screenOrientation="portrait"
            android:noHistory="true"
            android:windowSoftInputMode="adjustResize" >
        </activity>
        <activity
            android:name=".activities.HomeActivity"
            android:label="@string/title_activity_home" >
        </activity>
        <activity
            android:name=".activities.UserProfileFragment"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_user_profile" >
        </activity>
    </application>

</manifest>
